/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
* {
	margin: 0;
	padding: 0;

}
body , html{
 
	height: 100%;
  margin: 0;
  padding: 0;
  background: #F5F5F5;
  color: #2c3e50;
}
.header {
height: 200px;
background: #4A148C;
border-bottom: 5px solid #777;
}
h1 {
	font-family: 'Indie Flower', cursive;
	padding-top: 50px;
	text-align: center;
	font-size: 40px;
	color: white;
}
.container {
  margin: auto;
  width: 70%;
}
.wrapper  {
 margin-left: 201px;
}
.add-section {
	 margin-left: 190px;
	 padding: 10px;
}
.input {
	margin-right: 10px;
	height:  30px;
	width: 200px;
}
.button {
	height: 34px;
	width: 133px;
	border: 0;
	color: white;
	background: #673AB7;
}
.change-btn, .change-btn-left {
	 width: 20%;
	 float: right;
	 border: 0;
	 border-radius: 0;
	 height: 30px;
	 margin-right: 20px;
	 color: white;
}
.change-btn {
	background: #009688;
}
.change-btn-left {
	margin-right: 245px;
	background: #FF5722;
}
.video {
	margin-bottom: 15px;
}

@media screen and (max-width: 980px) {
    .container {
        margin-left: 50px;
    }
    .button {
    	width:200px;
    	margin-top: 5px;
    }
}
@media screen and (max-width: 780px) {
    .wrapper {
        margin-left: 10px;
    }
    .container {
        margin-left: 10px;
    }
    .add-section {
    	margin-left: 10px;
    }
}